<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <title>AUthentication</title>
    </head>
<body>
    {% for message in messages %}
        <div class= 'alert alert-{{ message.tags }} alert-dismissible fade show' role = 'alert' >
        <strong>Message:</strong>{{ message }}
        <button type = 'button' class = 'close' data-dismiss = 'alert' aria-label="Close" >
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    <h3>Welcome</h3>
    {% if user.is_authenticated %}
        <h2>hello {{ first_name }}</h2>
        <h3>you are successfully login!</h3>
        <button type = 'submit'><a href = '/signout'>SignOut</a></button>
    {% else %}
        <button type = 'submit'><a href = '/signup'>SignUp</a></button>
        <button type = 'submit'><a href = '/signin'>SignIn</a></button>
    {% endif%}
    

    <script src='' async defer></script>
</body>
</html>