<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <title>signup</title>
    </head>
<body>
    <h3>signup</h3>
    <form action='/signup' method='post'>
    {% csrf_token %}

        <lable for=''>Username</lable>
        <input type = 'text' id = 'username' name = 'username' placeholder = 'create a username (only letters and numbers)' required><br>

        <lable for = ''>FirstName</lable>
        <input type = 'text' id = 'fname' name = 'fname' placeholder = 'Enter your first name' required><br>

        <lable for = ''>LastName</lable>
        <input type = 'text' id = 'lname' name = 'lname' placeholder = 'Enter your last name' required><br>

        <lable for = ''>Email Address</lable>
        <input type = 'email' id = 'email' name = 'email' placeholder = 'Enter your email' required><br>

        <lable for = ''>Password</lable>
        <input type = 'password' id = 'password' name = 'password' placeholder = 'Enter your password' required><br>

        <lable for = ''>Confirm Password</lable>
        <input type = 'password' id = 'cpassword' name = 'cpassword' placeholder = 'Enter your password' required><br>

        <button type = 'submit' value = 'submit'>Sign Up</button>

    </form>
   
</body>
</html>