<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='UTF-8'>
        <title>signup</title>
    </head>
<body>
    <h3>sign In</h3>
    <form action='/signin' method='post'>
    {% csrf_token %}

        <lable for=''>Username</lable>
        <input type = 'text' id = 'username' name = 'username' placeholder = 'Enter your usrr name' required><br>

        <lable for = ''>Password</lable>
        <input type = 'password' id = 'password' name = 'password' placeholder = 'Enter your password' required><br>

        

        <button type = 'submit' >Sign In</button>
        
    </form>
   
</body>
</html>